#section1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#section1 > #image {
    position: absolute;
    height: 115vh;
    width: 100vw;
    object-fit: cover;

    z-index: -1;
}

#section1 > div {
    z-index: 1;
    font-size: 15vw;
    color: rgb(255, 255, 255);
    margin-top: 0vh;
    margin-left: -45vw;
}

#section2 {
    display: block;
    background-color: rgb(255, 255, 255);

    height: 100vh;
    width: 100vw;

    
}

#navbar {
    background: none;
    background-color: rgba(255, 255, 255, 0);
}

#navbar a {
    color: rgb(255, 255, 255);
}



#section2 H1 {
    font-size: 8vh;
    margin-left: 17%;
    margin-top: 6%;
    margin-bottom: 1%;
}

#customer_card {
    background-color: rgba(219, 202, 202, 0.231);
    box-shadow: 0px 10px rgba(133, 118, 118, 0.231);

    width: 20vw;
    height: 40vh;

    overflow: hidden;
    border-radius: 10%;

    margin-bottom: 50px;
}

#customer_card > img {
    width: 100%;
    height: 65%;

    object-fit: cover;
}

#customer_card > H3 {
    margin-top: 0;
    margin-left: 2%;
    
    margin-bottom: 0;
}

#customer_card > p {
    margin-top: 1%;
    margin-left: 2%;

}

#customer_section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 2%;

    margin-left: 0.5%;
    margin-right: 0.5%;

}

#customer_section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 1%;
}

#customer_section_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 1%;

    margin-left: 0.5%;
    margin-right: 0.5%;
}

#section_line {
    display: block;
    background-color: black;
    height: 0.1vh;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 3%;
}

